.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.colorChangeBtn{
  min-width: unset!important;
  height: 70px!important;
  width: 70px!important;
  border-radius: 50%!important;
  border: solid gray 3px!important;
}

.unityWindow{
  height: 80vh!important;
}
.topView{
  position: relative;
}
.scrollBtn{
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 2;
  font-size: 3rem;
  color: white!important;
}
.dragHand{
  height: 300px!important;
  width: 300px!important;
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  z-index: 1;
  transform: rotateZ( 90deg );
  pointer-events: none;
  opacity: 0.8;
}
.fadeout {
  animation : fadeOut 10s;
  animation-fill-mode: both;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
